# --- JAVA / MAVEN ---
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDE SPECIFICI (Solo VS Code e IntelliJ se lo usi) ---
.vscode/
.idea/
*.iml

# --- CONFIGURAZIONI SENSIBILI ---
# Esclude il file .env: contiene variabili d'ambiente locali, come JWT_SECRET_ENV, che non devono essere condivise.
# mentre non esclude application.properties, che è necessario per la configurazione generale e non contiene dati sensibili (usa application.properties.example come modello).
# src/main/resources/application.properties // è incluso perché contiene la configurazione generale, ma non dovrebbe contenere segreti.
.env

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db